.delete {
  display: none;
  position: absolute;
  width: 100px;
  top: 10px;
  right: -80px;
  color: #5b5656;
  border: 1px solid #b0afaf;
  background-color: #fff;
  font-size: 18px;
  padding: 9px;
  border-radius: 6px;

  &__icon {
    padding-right: 9px;
  }
  &:hover {
    color: #fff;
    background-color: #5b5656;
    cursor: pointer;
  }
}
